@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

* {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Delius", sans-serif;
}

html,
body,
main {
  width: 100%;
}

h1 {
  font-size: 92px;
  font-style: italic;
  font-family: "Mynerve", sans-serif;
  color: rgb(237, 85, 44);
  display: inline-block;
  padding-right: 200px;
}

h2 {
  font-size: 54px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
  color: rgb(237, 85, 44);
}

h4 {
  font-size: 112px;
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 115),
    rgb(255, 123, 0),
    rgb(255, 178, 34),
    rgb(255, 115, 115),
    violet,
    pink,
    rgb(255, 115, 115)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-change 360s linear infinite;
  font-family: "Crafty Girls", sans-serif;
  font-family: "Mynerve", sans-serif;
}

table {
  margin: 0;
  border-spacing: 30px;
  font-size: 18px;
  align-self: center;
}

td:nth-child(2) {
  text-align: left;
}

p {
  font-family: "Meie Script", serif;
  font-size: 30px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; /* change if needed */
}

#content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.cutie {
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 115),
    rgb(255, 123, 0),
    rgb(255, 196, 0),
    rgb(209, 209, 0),
    rgb(206, 255, 47),
    rgb(77, 255, 61),
    rgb(118, 115, 255),
    violet,
    pink,
    rgb(255, 115, 115)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-change 540s linear infinite;
  font-family: "Crafty Girls", sans-serif;
  padding-left: 200px;
}

.banner {
  width: 100%;
  height: 100px;
  background-image: url("../images/hearts.png");
  background-repeat: x;
  background-size: contain;
  margin: 40px 0;
}

#inner-content {
  margin: 100px 0;
}

#bottom-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

#bottom-content img {
  object-fit: contain;
  max-height: 300px;
}

@keyframes color-change {
  to {
    background-position: 4500vh;
  }
}

@media screen and (max-width: 950px) {
  #bottom-content {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  #bottom-content img {
    margin: 0 auto;
  }

  .banner {
    height: 75px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 48px;
    padding-right: 120px;
  }
  .cutie {
    padding-left: 100px;
    font-size: 36px;
  }
  h4 {
    font-size: 72px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 42px;
    padding-right: 0px;
  }
  .cutie {
    padding-left: 0px;
    font-size: 36px;
  }
  h4 {
    font-size: 48px;
    padding: 20px 0;
  }
  #bottom-content img {
    max-height: 200px;
  }
  .banner {
    height: 60px;
  }
  #inner-content {
    margin: 0;
  }
}
/*
@media screen and (max-width: 1280px) {
  table {
    border-spacing: 50px;
    font-size: 36px;
  }
  h1 {
    font-size: 120px;
    margin-top: 20%;
  }
  h2 {
    font-size: 78px;
    margin: 10% 0% 5%;
  }
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 45px;
    margin-top: 60px;
  }
}
*/
