@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Delius", sans-serif;
}

html, body, main {
    width: 100%;
}

h1 {
    margin: 120px 10px 50px;
    font-size: 92px;
    font-style: italic;
    font-family: "Mynerve", sans-serif;
    color: rgb(255, 160, 109);
}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 24px;
    margin-top: 10px;
}

table {
    margin: 30px auto;
    border-spacing: 30px;
    font-size: 18px;
}

td:nth-child(2) {
    text-align: left;
}

p {
    font-family: "Meie Script", serif;
    font-size: 30px;
}

#content {
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 0;
text-align: center;
}

.cutie {
    background-image: 
    linear-gradient(to right, rgb(255, 115, 115),rgb(255, 123, 0),rgb(255, 196, 0),rgb(209, 209, 0),rgb(206, 255, 47),rgb(77, 255, 61),rgb(118, 115, 255),violet, pink, rgb(255, 115, 115)); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: color-change 540s linear infinite;
  font-family: "Crafty Girls", sans-serif;
}

@keyframes color-change {
    to {
        background-position: 4500vh;
    }
}

@media screen and (max-width: 1280px) {
    table {
        border-spacing: 50px;
        font-size: 36px;
    }
    h1 {
        font-size: 120px;
        margin-top: 25%;
    }
    h2 {
        font-size: 78px;
        margin: 10% 2% 5%;
    }
    h3 {
        font-size: 36px;
    }
    p {
        font-size: 45px;
        margin-top: 60px;
    }
}