/* 
#58d6b7 turquoise
#a7f0dd lighter turquoise
#FF81a2 pink
#8a1979 purple
#1d7843 dark green
#58b6d6 blue
*/

body{
    background-color: #58d6b7;
}

.wrapper {
    background-color:white;
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
    padding:2em;
}

.columns {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: #1d7843;
    font-family: 'Geologica', sans-serif;
}

h1 {
    margin: 0;
}

main h2 {
    margin-top: 1.75em;
}

h3 {
    text-align: center;
    margin: 0;
}

header h5 {
    margin: 0;
    padding: 0.5em;
}

a {
    color: #FF81a2;
    text-decoration:none;
}

.highlight {
    background-color: #a7f0dd;
    border-radius: 3px;
}

.bolded {
    font-weight: bold;
}

.slogan {
    text-decoration: underline;
    font-style: italic;
}

.company-title {
    font-family: 'Indie Flower', cursive;
}

a:visited {
    color: #8a1979
}

a:link, a:visited {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

p, a, li {
    font-family: 'Roboto', sans-serif;
}

.member-of {
    display: inline-block;
    margin: 0;
    padding: 0 0 1em 0;
    width: 32%;
    text-align: center;
}

.member-of img {
    width: 100%
}

#irrigation-link {
    clear: both;
    display: block;
    padding-top: 1.5em;
}

main img {
    width: 50%
}

.faucet {
    float: left;
    max-width: 192px;
}

#middle-ga-img {
    float: right;
    max-width: 176px;
    margin: 1em;
}

#cat-icon {
    display: none;
}

header, footer {
    text-align: center;
}

header {
    background-image: url(images/pink-background.png);
    padding: 1em;
}

#navigation {
    background-image: url(images/pink-background.png);
    padding: 0.5em;
    margin: 0.5em auto;
    text-align: center;
    float: right;
    width: 15%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

#navigation h2 {
    margin: 0;
    padding: 0.5em 1em;
}

nav {
    padding-bottom: 0.75em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    padding: 0.5em;
}

main {
    width: 80%;
}

footer {
    background-image: url(images/pink-background.png);
    padding: 1em;
    margin-top: 3em;
    clear: both;
}

#contacts li {
    color: #1d7843;
    list-style-type: none;
    display: inline-block;
}

.list-background {
    padding-inline-start: 0;
    margin: 0;
}

main ul {
    list-style-type: circle;
}

@media screen and (max-width:800px) {
    #navigation {
        float: none;
        width: auto;
        position: relative;
    }

    nav ul li {
        display: inline;
    }

    #navigation h2 {
        display: none;
    }

    nav {
        padding: 0.25em 0;
    }

    main {
        width: auto;
    }
}

@media screen and (max-width:600px) {
    .member-of {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    main img, #middle-ga-img, .faucet {
        width: auto;
        display: block;
        float: none;
        margin: auto;
    }

    main a {
        text-align: center;
    }

    .wrapper {
        padding: 5%;
    }

    footer h2 {
        font-size: 1.25em;
    }
}

@media print {
    header {
        background-image: none;
        padding: 0;
    }

    footer {
        display: none;
    }

    #navigation {
        display: none;
    }

    main {
        width: 100%;
    }

    #irrigation-link {
        display: none;
    }

    #leaky-pipes {
        margin-top: 3em;
        clear: both;
    }

    body {
        filter: grayscale(100%);
    }
    
    #cat-icon {
        display: block;
        width: 25%;
        margin: auto;
    }
}